:root {
    --red: #F63232;
    --yellow: #feb614;
    --gray: #f4f4f4;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--red);
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header > h1 {
    
    color: #f4f4f4;
    display: inline-block;
    border: 8px solid white;
    padding: .5rem;
    border-radius: 50px;
}

.banner {
    position: relative;
}
.banner img {
    width:100%;
}

.banner h1 {
    position: absolute;
    top: 50%;
    font-size: 4rem;
    background: var(--yellow);
    padding: 2rem;
}

.banner h1 span {
    font-size: 5rem;
}

/*Nav menu*/

nav {
    background: var(--gray);
    margin-top: -3px;
}

nav > ul {
    
    text-align: center;
}
nav li {
    display: inline-block;
    width: 24%;
    padding: 1rem;
}

nav a {
    color: black;
    font-size: 1.25rem;
    text-decoration: none;
}

nav a.active {
    color: red;
}

/* main */
main {
    padding: 2rem;
}

main h2 {
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 20px;
    color: var(--red);
}

main p {
    line-height: 2;
}

main ul {
    white-space: nowrap;
    width: 100%;
}

main li {
    display: inline-block;
    width: 50%;
    transition: transform o.3s ease;
}

main li:hover {
    transform: scale(1.1);
}

main img {
    width: 100%;
}

